<%= form_with(model: collection) do |form| %>
  <%= render "form_errors", resource: collection %>

  <div class="my-5">
    <%= form.label :title %>
    <%= form.text_field :title, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= image_tag collection.cover_picture.variant(:thumb) if collection.cover_picture.present? %>
    <%= form.label :cover_picture %>
    <%= form.file_field :cover_picture, accept: ".jpg, .peg, .png", class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="my-5">
    <%= form.label :creator_name %>
    <%= form.text_field :creator_name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full" %>
  </div>

  <div class="flex gap-2">
    <%= form.submit class: "rounded-lg py-3 px-5 bg-blue-600 text-white inline-block font-medium cursor-pointer" %>

    <%= link_to "Back", collection.new_record? ? root_path : collection_path(collection),
                class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium",
    data: { turbo_frame: "_top"} %>
  </div>
<% end %>
