<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "🎥 Video Collections" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body class="w-full h-screen flex bg-gray-200 p-5 gap-2">
    <%= render "flash_messages" %>
    <%= render "nav" %>
    <main class="flex-1 mx-auto p-5 bg-white shadow-md border border-gray-300 rounded-lg overflow-y-auto">
      <%= yield %>
    </main>
  </body>
</html>
